/ZWEI2Plus/zw
__pycache__
node_modules
.idea
.vscode
frida-core.lib
*.VC.db
*.suo
*.vcxproj.user
.env
/ed83/loader/*.iobj
/ed83/loader/*.ipdb
/Decompiler2/Falcom/ED62/cn
/Decompiler2/Falcom/ED62/en
/Decompiler2/Falcom/ED62/merge*
/ED6Steam/tools/msg
/Decompiler2/Falcom/ED62/patch
